    <div style="margin-top:40px;margin-bottom:20px;">
        <h4 style="text-align:center">Bulk Create Resources</h4>
        <div role="form" style="text-align:center;margin-top:20px">
            <div class="form-group">
                <div class="input-group">
                    <label class="control-label col-sm-2" id="ResourceNum" style="width:400px">Number of Resources:</label>
                    <label>
                        <input id="resourcesnum" name="resourcesnum" type="text" class="form-control" style="padding-left:5px;width:500px;">
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <label class="control-label col-sm-2" id="StartedResourceName" style="width:400px">Start with Resource Name:</label>
                    <label>
                        <input id="startedresourcename" name="startedresourcename" type="text" class="form-control" style="padding-left:5px;width:500px;">
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <label class="control-label" id="CreateProjectWith" style="width:400px">Create Projects With:</label>
                    <label class="checkbox-inline">
                        <input type="checkbox" style="width:15px;height:15px;">Budget
                    </label>
                    <label class="checkbox-inline" style="padding-left:20px">
                        <input type="checkbox" style="width:15px;height:15px;">Generic
                    </label>
                    <label class="checkbox-inline" style="padding-left:20px">
                        <input type="checkbox" style="width:15px;height:15px;">Inactive
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <label class="control-label col-sm-2" id="Type" style="width:400px">Type:</label>
                    <label>
                        <select id="selectedtype" name="selectedtype" type="text" class="form-control" style="padding-left:5px;width:500px;">
                            <option>NotSpecified</option>
                            <option selected>Work</option>
                            <option>Material</option>
                        </select>
                    </label>
                </div>
            </div>
            <div style="float:right">
                <input id="btnnewresources" type="submit" class="btn btn-success" value="Create" />
                <button type="button" class="btn btn-default">
                    Back
                </button>
            </div>
        </div>
    </div>
<script type="text/javascript">
    $("#btnnewresources").on("click", function () {
        $.ajax({
            url: "/Functions/CreateResources",
            dataType: "json",
            data: {
                resNum: $("#resourcesnum").val(),
                resourceNamePrefix: $("#startedresourcename").val(),
                numberLength: 5,
            },
            type: "Post",
            success: function (data) {
                alert(data.data);
            },
        });
    });
</script>